.slider-wrap {
	width: 500px;	
	padding: 10px;
	border: 1px solid #ccc;
	margin: 10px auto 0;
}

.sliderify-navigation {
	margin-top: 10px;
	float: left;
}

.sliderify-navigation-element {
	cursor: pointer;
	padding: 7px 10px;
	background: #ededed;
	border: 1px solid #ccc;
	color: #333;
	margin-right: 5px;
}

.sliderify-paginator {
	float: right;
	margin-top: 10px;
}
.sliderify-paginator a {
	margin-right: 5px;
	padding: 4px 7px;
	background: #ededed;
	border: 1px solid #ccc;
	color: #333;
}
.sliderify-paginator a.active{
	background: #d4d4d4;
}